In [ ]:
my_name = "Wei-Meng Lee"     # a string variable
id = 123                     # an integer variable
score = 89.5                 # a float variable
exited = False               # a Boolean variable

In [ ]:
exited = False               # a Boolean variable
exited = 1.0                 # now a float variable

In [ ]:
PI = 3.14159
COMPANY_NAME = "XYZ Company"

In [ ]:
s1 = "Implementing Statistics with Python"
s2 = 'Implementing Statistics with Python'

In [ ]:
poem = """
Hope is the thing with feathers
That perches in the soul,
And sings the tune without the words,
And never stops at all.
"""

In [ ]:
city = 'Oslo'
temp = 0.5
print('The current temperature in ' + city + ' is ' + str(temp) + ' degrees Celsius')
# The current temperature in Oslo is 0.5 degrees Celsius

In [ ]:
print(f'The current temperature in {city} is {temp} degrees Celsius')

In [ ]:
s1 = "Implementing Statistics with Python"
s1[0] # I
s1[1] # m
s1[2] # p

In [ ]:
s2 = 'Implementing Statistics with Python'
s3 = s2.replace('Python','R')
print(s2)  # Implementing Statistics with Python
print(s3)  # Implementing Statistics with R

In [ ]:
score = float(input("Enter your score: "))
if score >= 50:
    print('Passed!')
else:
    print('Failed!')

In [ ]:
score = float(input("Enter your score: "))
if 80 <= score <= 100:
    grade = 'A'
elif 70 <= score < 80:
    grade = 'B'
elif 60 <= score < 70:
    grade = 'C'
elif 50 <= score < 60:
    grade = 'D'
else:
    grade = 'F'

In [ ]:
score = float(input("Enter your score: "))
match score:
    case score if 80 <= score <= 100:
        grade = 'A'
    case score if 70 <= score < 80:
        grade = 'B'
    case score if 60 <= score < 70:
        grade = 'C'
    case score if 50 <= score < 60:
        grade = 'D'
    case _:
        grade = 'F'

In [ ]:
for c in 'statistics':
    print(c)

In [ ]:
counter = total = 0
while counter < 5:
    counter += 1
    total += counter
print(total)  # 15

In [ ]:
counter = 0
total = 0
while counter < 5:
    counter += 1
    if counter == 2:
        continue   # skip the rest of the loop and go to 
                   # the next iteration of the loop
    total += counter
print(total)   # 13

In [ ]:
counter = 0
total = 0
while counter < 5:
    counter += 1
    if counter == 3:
        break   # exit the loop
    total += counter
print(total)   # 3

In [ ]:
for c in 'statistics':
    print(c)
else:
    print('All characters printed')

In [ ]:
counter = 0
total = 0
while counter < 5:
    counter += 1    
    total += counter
else:
    print(total)   # 15

In [ ]:
def print_something():
    print('This is a function...')
    print('...in Python')

In [ ]:
print_something()

In [ ]:
def print_something():
    print('This is a function...')
    print('...in Python')
    return True
status = print_something()

In [ ]:
def print_name(first_name, last_name):
    print(f'{first_name}, {last_name}')

In [ ]:
print_name('Wei-Meng', 'Lee')

In [ ]:
print_name(first_name = 'Wei-Meng', last_name = 'Lee')

In [ ]:
print_name(last_name = 'Lee', first_name = 'Wei-Meng')

In [ ]:
print_name('Wei-Meng', last_name = 'Lee')

In [ ]:
def print_name(first_name, last_name, join = ','):
    print(f'{first_name}{join} {last_name}')

In [ ]:
print_name('Wei-Meng', 'Lee', '')  
# Wei-Meng Lee

In [ ]:
print_name('Wei-Meng', 'Lee')  
# Wei-Meng, Lee

In [ ]:
def add(*nums):
    for num in nums:
        print(num, end = ',')
    print()
    return sum(nums)

In [ ]:
add(1,2)      # 3
add(1,2,3)    # 6
add(1,2,3,4)  # 10

In [ ]:
def some_function(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

In [ ]:
some_function(a = 3, b = 4, c = 5)

In [ ]:
pairs = {"a":3, "b":4, "c":5}
some_function(**pairs)

In [ ]:
numbers = [1,2,3,4,5]

In [ ]:
fruits = ['Apple','Orange','Pineapple']

In [ ]:
objects = [3,'Apple',True,3.14]

In [ ]:
list_of_lists = [numbers,fruits,objects]

In [ ]:
len(numbers)        # 5
len(fruits)         # 3
len(list_of_lists)  # 3

In [ ]:
numbers[0]           # 1; first element
numbers[1]           # 2; second element
list_of_lists[1]     # ['Apple', 'Orange', 'Pineapple']; the second element
list_of_lists[1][1]  # 'Orange'

In [ ]:
numbers[-1]   # 5; last element
numbers[-2]   # 4; second last element

In [ ]:
for fruit in fruits:
    print(fruit)

In [ ]:
for i, fruit in enumerate(fruits):
    print(i, fruit)

In [ ]:
fruits = ['Apple','Orange','Pineapple']
fruits.append('Mango')
print(fruits)     # ['Apple', 'Orange', 'Pineapple', 'Mango']

In [ ]:
fruits = ['Apple','Orange','Pineapple']
fruits = fruits + ['Kiwi']
# fruits is now ['Apple', 'Orange', 'Pineapple', 'Kiwi']

In [ ]:
fruits.remove('Orange') # removes the first occurrence of an item
# fruits is now [‘Apple’, ‘Pineapple’, ‘Kiwi’]

In [ ]:
fruits.pop()   # removes the last item in the list
# returns ‘Kiwi’
# fruits is now [‘Apple’, ‘Pineapple’]

In [ ]:
del fruits[1]   # remove element at index 1, which is Pineapple
# fruits is now ['Apple']

In [ ]:
months = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

In [ ]:
months[0:4]

In [ ]:
months[:4]

In [ ]:
months[4:]

In [ ]:
months[4::2]

In [ ]:
months[-1:]

In [ ]:
months[-4:-2]

In [ ]:
months[-2:-10:-2]

In [ ]:
months[:-3:-1]

In [ ]:
months[-4::-1]

In [ ]:
months[::-1]

In [ ]:
r = range(1000)

In [ ]:
nums = list(r)
nums   # [0,1,2,3,4... 997,998,999]

In [ ]:
nums = list(range(2,5))      # [2, 3, 4]
nums = list(range(2,6,2))    # [2, 4]
nums = list(range(6,2,-1))   # [6, 5, 4, 3]
nums = list(range(-2,-5,-1)) # [-2, -3, -4]

In [ ]:
prices = range(1,11)

In [ ]:
new_list = [i for i in prices if i > 5]
# new_list is now [6, 7, 8, 9, 10]

In [ ]:
[i*2 for i in prices if i > 5]
# [12, 14, 16, 18, 20]

In [ ]:
[f'${i:.2f}' for i in prices]

In [ ]:
[f'${i*1.08:.2f}' if i>5 else f'${i:.2f}' for i in prices]

In [ ]:
[f'${(i*1.08 if i>5 else i):.2f}' for i in prices]

In [ ]:
cities = {'New York','Tokyo','London','Shanghai'}

In [ ]:
cities = set(['New York','Tokyo','London','Shanghai'])

In [ ]:
for city in cities:
    print(city)

In [ ]:
'Tokyo' in cities    # True

In [ ]:
cities.add('Mumbai')

In [ ]:
cities.remove('Mumbai')  # if item is not found, an exception is raised

In [ ]:
cities.discard('Mumbai')

In [ ]:
people = {
    1: 'Alice Johnson',
    2: 'Benjamin Martinez'
}

In [ ]:
people.keys()
# dict_keys([1, 2])

In [ ]:
people.values()
# dict_values(['Alice Johnson', 'Benjamin Martinez'])

In [ ]:
people[1]
# 'Alice Johnson'

In [ ]:
if 3 in people:
    print(people[3])
else:
    print('Key not found')

In [ ]:
'Alice Johnson' in people.values()
# True

In [ ]:
people.get(3, 'Name not found')

In [ ]:
people[3] = 'Charlotte Davis'
# {1: 'Alice Johnson', 2: 'Charlotte Davis', 3: 'Charlotte Davis'}

In [ ]:
for k,v in people.items():
    print(f'{k} - {v}')

In [ ]:
{people[i]:i for i in people.keys()}
# {'Alice Johnson': 1, 'Benjamin Martinez': 2, 'Charlotte Davis': 3}

In [ ]:
del people[1]
# people is now {2: 'Benjamin Martinez', 3: 'Charlotte Davis'}

In [ ]:
people.pop(2)
# 'Benjamin Martinez' will be returned and deleted from the dictionary
# people is now {3: 'Charlotte Davis'}

In [ ]:
flight = ('SQ123','SIN','HEL',16)

In [ ]:
flight_no = flight[0]
ORGIN = flight[1]
DEST = flight[2]
DURATION = flight[3]

In [ ]:
flight_no, ORGIN, DEST, DURATION = flight

In [ ]:
def count_vowels(string):
    # use a dictionary to keep the count
    vowel_counts = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

    # change all characters to lowercase
    string = string.lower()

    for char in string:
        # if the character is a vowel
        if char in vowel_counts:
            # increment the count for the corresponding vowel
            vowel_counts[char] += 1

    # convert the dictionary into a tuple
    vowel_tuple = tuple(vowel_counts.values())

    return vowel_tuple

input_string = "The quick brown fox jumps over the lazy dog"
result = count_vowels(input_string)
print(result) 
# (1, 3, 1, 4, 2)

In [ ]:
x = 5
y = 6
x,y = y,x
# x is now 6 and y is now 5

In [ ]:
def cube(n):
    return n**3

print(cube(5))
# 125

In [ ]:
g = lambda n: n**3

In [ ]:
g = lambda n: n**3
num = 5
callable(g)    # True
callable(num)  # False

In [ ]:
g(5)
# 125

In [ ]:
# takes in a list and return all the even numbers
def even_nums(l):
    result = []
    for n in l:
        if n % 2 == 0:
            result.append(n)
    return result

# takes in a list and return all the numbers greater than 5
def num_gt_5(l):
    result = []
    for n in l:
        if n > 5:
            result.append(n)
    return result

In [ ]:
condition = lambda x: x % 2 == 0

In [ ]:
def my_filter(condition, lst):
    result = []
    for n in lst:
        if (condition(n)):  # condition is a lambda function and callable
            result.append(n)
    return result

lst = [1,2,3,4,5,6,7,8,9]
print(my_filter(lambda x: x % 2 == 0, lst))
# [2, 4, 6, 8]

In [ ]:
print(my_filter(lambda x: x > 5, lst))
# [6, 7, 8, 9]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
print(list(filter(lambda x: x % 2 == 0, lst)))       
# [2, 4, 6, 8]

print(list(filter(lambda x: x > 5, lst)))
# [6, 7, 8, 9]

In [ ]:
r = range(5)
print(r)
# range(0, 5)

In [ ]:
for i in r:
    print(i)

In [ ]:
list(r)
# [0, 1, 2, 3, 4]

In [ ]:
r = range(5_000_000_000)

In [ ]:
i = iter(r)

In [ ]:
next(i)
# 0

In [ ]:
r = range(5_000_000_000)
list(r)

In [ ]:
nums = [3,4,1]
i = iter(nums)

In [ ]:
nums = [3,4,1]
i = iter(nums)
while True:
    try:
        print(next(i))
    except StopIteration:
        break

In [ ]:
def months(): 
    yield 'January'
    yield 'February'
    yield 'March'
    yield 'April'
    yield 'May'
    yield 'June'
    yield 'July'
    yield 'August'
    yield 'September'
    yield 'October'
    yield 'November'
    yield 'December'

In [ ]:
i = months()    # calling months() will return an iterator object

In [ ]:
print(next(i))   # January
print(next(i))   # February
print(next(i))   # March

In [ ]:
for month in months():
    print(month)

In [ ]:
def my_filter(condition, lst):
    for n in lst:
        if (condition(n)):
            yield n

In [ ]:
even_numbers = my_filter(lambda x: x % 2 == 0, range(500000000))

In [ ]:
next(even_numbers)  # 0
next(even_numbers)  # 2
next(even_numbers)  # 4